  @import "tailwindcss"  
.inter-open-sans {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  
  font-style: normal;
}
 * {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.container{
    max-width: 1600px;
    margin: 0 auto;
}

    
.header2{
   
    background-color: aquamarine;
    background: url(../assets/hero-bg.png);
    text-align: center;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

nav .menu{
    display: flex;
    list-style-type: none;
    align-items: center;
    gap: 32px;
   
}
nav .menu a {
    font-size: 1rem;
    font-weight: 500;
    font-size: 32px;
    color: white;
    text-decoration: none;
}
.linear{
background: linear-gradient(90deg, 
  #feda75,   
  #fa7e1e,   
  #d62976,   
  #962fbf,   
  #4f5bd5    
);
}
.btn{
    font-size: 1rem;
    font-weight: 600;
    padding: 12px 40px 12px 16px;
    border-radius: 12px;
    /* max-width: 135px; */
    color: white;
    
}
.logo h2{
    
    max-width: 230px;
    
    color: white;

}

